main {
    padding: 10px;
    max-width: 100%;
    font-size: 14px;
}

#glossario {
    margin-top: 10px;
}

.term {
    background-color: var(--cor-de-fundo-termo) ;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.term:hover {
    transform: scale(1.02);
}

.term h2 {
    color: #4CAF50;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.tag, .css__seletor{
    
    color:var(--cor-de-tag);
}
.tag__atributo, .css__propriedade{
    color: var(--cor-de-atributo);
}

.tag__atributo-valor,
.css__delimitador,
.css__propriedade__valor{
    color: var(--cor-de-valor);
}


.html, .css{
    background-color: rgb(241, 231, 205);
    border: solid 1px;
    border-radius: 5px;
    padding: .5em .5em;
    margin: 1em 0;
}
